html {
    background-color: white;
    font-family: "Open Sans";
}

body {
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 32px 8px 32px;
}

.separator {
    border-style: solid;
    border-top: 2px;
    border-color: #7b458f;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-pill a {
    padding: 8px 16px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 300;
    color: #7b458f;
    background-color: white;
    border-style: solid;
    border-width: 2px;
}

.nav-pill a:active {
    background: #420e53;
    color: #ffffff;
    text-decoration: underline;
}

.nav-pill a:hover {
    background-color: #420e53;
    color: white;
}

.hero {
    display: grid;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
}

.hero-text {
    padding: 0 16px;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero {
        grid-template-columns: 1fr 1fr;
    }
}

footer {
    background-color: #7b458f;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 576px) {
    header {
        flex-direction: column;
    }
    .nav-container {
        flex-direction: column;
        gap: 8px;
    }
}
