html {
    background-color:white;
}

body {
    background-color:white;
}

header {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.separator {
    border-style: solid;
    border-top: 2px;
    border-color: #7b458f;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
