.header-container {
    display: flex;
    align-items: center;
    border-style: solid;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-container {
    display: inline-block;
}

.logo-container {
    display: inline-block;
}
